{% extends "journal/base.html" %}
{% load static %}
{% block content %}
{% load status_tags %}

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Анализ</h3>
    </div>
    <div class="row">
        {% for p in prihod %}
        {% if p.type == 'Расход' %}
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-danger py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Расход за этот месяц</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{p.count}} сом</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if p.type == 'Приход' %}
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Приход за этот месяц</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{p.count}} сом</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Выдано по месяцам</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myChart" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Займы по сотрудникам</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas class="pie" id="pie-chart" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Статусы по займам</h6>
            </div>

            <div class="card-body">
                {% for s in status %}
                <h4 class="small font-weight-bold">{{s.status}}<span class="float-right">{{s.count}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-{% get_status_color s.status %}" aria-valuenow="{{s.count}}" aria-valuemin="0" style="width: {{s.count}}%" aria-valuemax="100"><span class="sr-only">{{s.count}}%</span></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'journal/js/Chart-2.min.js' %}"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#4e73df', '#1cc88a', '#36b9cc', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      ctx.width = 1000;
        ctx.height = 1000;
      window.myPie = new Chart(ctx, config);
    };

  </script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels_bar|safe }},
        datasets: [{
            label: 'Сумма выданных займов',
            data: {{ data_bar|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}