{% load crispy_forms_tags %}
{% load widget_tweaks %}
<form method="post" data-url="{% url 'loan_create' %}" class="js-product-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Новая заявка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    {% for f in form %}
        <div class="form-group{% if f.errors %} has-error{% endif %}">
            <label for="{{f.id_for_label}}">{{f.label}}</label>
            {% render_field f class="form-control" %}
            {% for error in f.errors %}
                <p class="help-block">{{error}}</p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>








<!--


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Новый займ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST" data-url="{% url 'client-create' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {{ title }}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if title == 'Создание заявки' %}
                        Создать
                    {% elif title == 'Измнение заявки' %}
                        Изменить
                    {% endif %}
                </button>
            </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

-->

