{% extends "journal/base.html" %}
{% load journal_tags %}
{% block content %}
<div class="excel-report">
    <a href="{% url 'test' %}" type="button" class="btn btn-info">
        <i class="far fa-file-excel"> </i>
        <span>Excel Report</span>
    </a>
</div>
<table class="table table-hover">
    <tr>
        <th scope="col">Номер заявки</th>
        <th scope="col">Дата заявки</th>
        <th scope="col">ФИО клиента/Наименование организации</th>
        <th scope="col">Сумма заявки</th>
        <th scope="col">Цель кредита</th>
        <th scope="col">Срок кредита</th>
        <th scope="col">Наименование продукта</th>
        <th scope="col">Обеспечение</th>
        <th scope="col">Статус</th>
        <th scope="col">Источник погашения</th>
        <th scope="col">Причина отказа\одобрения</th>
        <th scope="col">Дата отказа/одобрения</th>
        <th scope="col">Номер протокола</th>
        <th scope="col">Кредитный эксперт</th>
    </tr>
    {% for client in queryset %}
    <tr style="cursor: pointer" onclick="location.href='{% url 'client-detail' client.id %}'">
        <td>{{ client.nomer_zayavki }}</td>
        <td>{{ client.date_posted|date:"d.m.Y" }}</td>
        <td>{{ client.fio_klienta|splitpart }}</td>
        <td>{{ client.summa_zayavki }}</td>
        <td>{{ client.purpose }}</td>
        <td>{{ client.srok_kredita }}</td>
        <td>{{ client.product }}</td>
        <td>{{ client.zalog }}</td>
        <td>{{ client.status }}</td>
        <td>{{ client.istochnik }}</td>
        <td>{{ client.reason|default_if_none:"" }}</td>
        <td>{{ client.date_refuse|date:"d.m.Y" }}</td>
        <td>{{ client.protokol_number|default_if_none:"" }}</td>
        <td>{{ client.credit_user}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}