{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="content-section">
                <div class="moycontent">
                    <h2>Хотите войти с другого аккаунта?</h2>
                    <a class="btn btn-outline-info" href="{% url 'login' %}">Войти с другого аккаунта</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
