{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="content-section">
                <div class="moycontent">
                    <div class="alert alert-info">
                        Пароль был изменен.
                    </div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'login' %}">Войдите в аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
