{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="content-section">
                <div class="moycontent">
                    <div class="alert alert-info">
                        Инструкция по смене пароля выслана на вашу почту
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
