{% extends "journal/base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">

            <div class="table-responsive table mt-2 table-hover" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="product-table" style="font-size: 14px">
                  <thead>
                      <tr>
                          <th>Номер билета</th>
                          <th>Дата заявки</th>
                          <th>ФИО клиента</th>
                          <th>Сумма заявки</th>
                          <th>% ставка в день</th>
                          <th>Срок займа в днях</th>
                          <th>Дата окончания</th>
                          <th>Статус</th>
                          <th>Кредитный специалист</th>
                          <th>Дополнительно</th>
                      </tr>
                  </thead>
          <tbody>
                  {% include 'includes/partial_product_list.html' %}
          </tbody>
     <tfoot>
          <tr>
              <td><strong>Номер билета</strong></td>
              <td><strong>Дата заявки</strong></td>
              <td><strong>ФИО клиента</strong></td>
              <td><strong>Сумма заявки</strong></td>
              <td><strong>% ставка в день</strong></td>
              <td><strong>Срок займа в днях</strong></td>
              <td><strong>Дата окончания</strong></td>
              <td><strong>Статус</strong></td>
              <td><strong>Кредитный специалист</strong></td>
              <td><strong>Дополнительно</strong></td>
          </tr>
      </tfoot>

    </table>
</div>

            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                              {% if products.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                      <span aria-hidden="true">«</span>
                                    </a>
                                  </li>
                              {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                      <span aria-hidden="true">«</span>
                                    </a>
                                  </li>
                              {% endif %}
                              {% for num in products.paginator.page_range %}
                              {% if products.number == num %}
                                  <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                              {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                              {% endif %}
                              {% endfor %}
                              {% if products.has_next %}
                                  <li class="page-item"><a class="page-link" href="?page={{products.paginator.num_pages}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                              {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}